# Python cache
__pycache__/
*.py[cod]
*.pyo

# macOS
.DS_Store

# Editor / IDE
.vscode/
.idea/
*.swp
.python-version
.vim/

# Virtualenv
venv/
.venv/

# Django
*.sqlite3
staticfiles/
media/
tmp/

# Environment
.env
.env.*

# Node
node_modules/
npm-debug.log

# Vagrant
.vagrant/
Vagrantfile.local

# Test coverage
coverage/
