{% extends "base_page.html" %}
{% load wagtailcore_tags wagtailimages_tags static %}

{% block content %}
  <section class="px-6 md:px-20 py-20 max-w-5xl mx-auto">
    <h1 class="text-4xl md:text-6xl font-bold leading-tight text-black">
      {{ page.title }}
    </h1>

    {% if page.introduction %}
    <div class="pt-4 text-base md:text-lg text-gray-800 leading-relaxed max-w-3xl">
      {{ page.introduction|richtext }}
    </div>
    {% endif %}

    {% if page.hero_cta %}
    <div class="pt-6">
      {% include "components/button.html" with title=page.hero_cta.0.value.get_title url=page.hero_cta.0.value.get_url %}
    </div>
    {% endif %}
  </section>

  <!-- Page body (StreamField blocks) -->
  {% include_block page.body %}

  <!-- Related pages -->
  {% include "components/related-pages.html" %}
{% endblock %}
