{% load wagtailcore_tags wagtailsettings_tags wagtailimages_tags %}

<div class="flex flex-col w-full h-full group max-w-full lg:max-w-[370px]">

  {# Image block with responsive ratio and fallback placeholder #}
  <div class="rounded-md overflow-hidden w-full">
    {% if page.listing_image %}
      {% image page.listing_image format-jpeg fill-800x600 as img_jpg_1x %}
      {% image page.listing_image format-jpeg fill-1600x1200 as img_jpg_2x %}
      {% image page.listing_image format-webp fill-800x600 as img_webp_1x %}
      {% image page.listing_image format-webp fill-1600x1200 as img_webp_2x %}
    {% else %}
      {% image settings.utils.SystemMessagesSettings.get_placeholder_image format-jpeg fill-800x600 as img_jpg_1x %}
      {% image settings.utils.SystemMessagesSettings.get_placeholder_image format-jpeg fill-1600x1200 as img_jpg_2x %}
      {% image settings.utils.SystemMessagesSettings.get_placeholder_image format-webp fill-800x600 as img_webp_1x %}
      {% image settings.utils.SystemMessagesSettings.get_placeholder_image format-webp fill-1600x1200 as img_webp_2x %}
    {% endif %}

    <picture>
      <source srcset="{{ img_webp_1x.url }} 1x, {{ img_webp_2x.url }} 2x" type="image/webp" />
      <source srcset="{{ img_jpg_1x.url }} 1x, {{ img_jpg_2x.url }} 2x" type="image/jpeg" />
      <img
        src="{{ img_webp_1x.url }}"
        alt="{{ img_webp_1x.alt }}"
        width="{{ img_webp_1x.width }}"
        height="{{ img_webp_1x.height }}"
        class="w-full h-full object-cover aspect-[20/11] md:aspect-[4/3] lg:aspect-[20/11]"
        {% if img_webp_1x.focal_point %}
          style="{{ img_webp_1x.object_position_style }}"
        {% endif %}
      />
    </picture>
  </div>

  {# Title and summary block #}
  <div class="pt-5">
    <a href="{% pageurl page %}"
       class="text-lg md:text-xl font-semibold leading-snug underline underline-offset-4 decoration-1 decoration-black hover:opacity-80 transition">
      {% firstof page.listing_title page.title %}
    </a>
    <p class="text-sm text-gray-600 pt-2 leading-relaxed">
      {% firstof page.listing_summary page.plain_introduction %}
    </p>
  </div>

</div>
