<form action="{% url 'search' %}" method="get" role="search"
      class="
        {% if variant == 'search-panel' %}
          site-container px-6 md:px-10 flex justify-end
        {% elif variant == 'mobile-menu' %}
          py-8
        {% endif %}
      ">

  <div
    class="
      flex grow gap-2
      {% if variant != 'mobile-menu' %}
        flex-col md:flex-row max-w-xl
      {% endif %}
    "
    {% if variant == 'search-panel' %}
      data-search-content
    {% endif %}
  >
    <input
      type="search"
      name="query"
      aria-label="Search our website"
      placeholder="Search our website"
      class="
        w-full h-12 px-4 py-2.5 text-base border border-gray-300 rounded-md
        placeholder-gray-400 text-black bg-white
        {% if variant == 'mobile-menu' %}
          bg-opacity-90 text-white placeholder-white
        {% endif %}
      "
      {% if variant == 'search-panel' %}
        data-search-input
      {% endif %}
    />

    <button
      type="submit"
      class="
        inline-flex justify-center items-center px-4 py-2.5 h-12 text-sm font-medium rounded-md transition
        text-white bg-black hover:bg-gray-800
        {% if variant == 'mobile-menu' %}
          text-white bg-black
        {% endif %}
      "
    >
      Search
    </button>
  </div>
</form>
