<label class="relative w-fit flex justify-center items-center group p-1 cursor-pointer">
    <span class="sr-only">
      Theme toggle
    </span>
    <input 
      data-theme-toggle
      type="checkbox"
      class="
        appearance-none
        peer absolute w-full h-full
        border border-gray-400 rounded-full
        checked:border-black
        cursor-pointer
      "
    />
    <span class="
      w-10 h-4 flex items-center py-1 flex-shrink-0 rounded-full
      bg-gray-300 peer-checked:bg-black transition duration-300 ease-in-out
      after:w-4 after:h-4 after:bg-white after:rounded-full after:shadow-md
      after:duration-300 after:translate-x-0
      peer-checked:after:translate-x-6
      peer-checked:after:bg-white
    ">
    </span>
  </label>
  